<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <div class="field">
      <%= form.label :name, class:"form-label" %>
      <%= form.text_field :name, class:"form-control" %>
    </div>
  </div>
  
  <div class="mb-3">
    <div class="field">
      <%= form.label :category_id, class:"form-label" %>
      <%= form.text_field :category_id, class:"form-control" %>
    </div>
  </div>
  
  <div class="mb-3">
    <div class="field">
      <%= form.label :year, class:"form-label"  %>
      <%= form.number_field :year, class:"form-control" %>
    </div>
  </div>

  <div class="mb-3">
    <div class="field">
      <%= form.label :producer_id, class:"form-label" %>
      <%= form.text_field :producer_id, class:"form-control" %>
    </div>
  </div>
  
  <div class="mb-3">
    <div class="field">
      <%= form.label :release_date, class:"form-label" %>
      <%= form.date_select :release_date, class:"form-control" %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.submit "Crear", class:"btn btn-primary" %>
  </div>
<% end %>
